* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    background-color: #292929;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
}

img#logoheader {
    width: 180px;
}

div#botoesheader {
    display: flex;
    gap: 15px;
}

button.headerBtn {
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.4s;
}

button.headerBtn:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 35px;
}

p#descricao {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 35px;
}

div#gridcontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main aside";
    padding: 15px;
    gap: 15px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    grid-area: main;
}

div.itemprincipal {
    width: 280px;
    height: 420px;
    border-radius: 15px;
    border: 1px solid rgb(201, 201, 201);
    transition: 0.3s;
    color: rgb(65, 65, 65);
}

div.itemprincipal:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
}

img.itemprincipalimg {
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
}

div.itemprincipal > h2, div.itemprincipal > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 30px;
}

aside {
    background-color: #292929;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    justify-content: space-between;
    grid-area: aside;
}

div.itemextra {
    width: 180px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(190, 190, 190);
    transition: 0.3s;
}

div.itemextra:hover {
    cursor: pointer;
    color: white;
}

img.itemextraimg {
    width: 100%;
    border-radius: 15px;
}

footer {
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

img#logofooter {
    width: 180px;
}

a#linkfooter {
    text-decoration: none;
    color: rgb(196, 194, 194);
}

a#linkfooter:hover {
    color: white;
}

@media (max-width: 480px) {
    div#gridcontainer {
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        width: 73%;
        margin: auto;
    }
}